<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Produtos</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr #linhaPrd *ngFor="let produto of produtos">
                    <td>{{produto.nome}}</td>
                    <td>{{produto.preco}}</td>
                    <td>{{produto.quantidade}}</td>
                    <td>
                        <a [routerLink]="['/editar_produto', produto.id]">
                            <botao estilo="btn-warning glyphicon glyphicon-edit"></botao>
                        </a>
                    </td>
                    <td>
                        <botao estilo="btn-danger glyphicon glyphicon-remove" (acao)="modal.show()" (click)="executaAcao()"></botao>
                        <!--<modal #mod description="Deseja excluir este Produto?" (action)="excluir(produto)"></modal>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>